/*- - - - - - - - - - Type - - - - - - - - - - */

header {
    text-align: start;
    display: flex;
    justify-content: space-between;
    font-family:Arial;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
    font-family:Arial;
}

#profile_links>a {
    color: white;
    text-decoration: none;
}

/* - - - - - - - - - - ID - - - - - - - - - - */

#div_feed {
    width: 45%;
}

#lama_logo {
    margin-left: 40px;
    width: 100px;
    height: 100px;
}

#connexion_button {
	background-color:#ffa600;
	border-radius:28px;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    margin-top: 1.25%;
    margin-right: 40px;
    height: min-content;
}

#user_pic {
    width: 120px;
    height: 120px;
}

#user_name {
    font-style: bold;
    font-size: 20px;
    margin-top: 5%;
}

#user_id {
    font-style: italic;
    color: lightgray;
    font-size: 10px;
    margin-top: -3%;
}

#post_button {
	background-color:#ffa600;
	border-radius:28px;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    margin-top: 1.25%;
    height: min-content;
}

/* - - - - - - - - - - Class - - - - - - - - - - */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
    min-height: 100%;
}

.item {
    flex-grow: 1 2 1;
    /* border: 2px solid #ffa500; */
    border-radius: 5%;
    box-shadow: #ffa500 3px 3px;
    width: 25%;
}