/* - - - - - - - - - - - - - - - - - - - - Global - - - - - - - - - - - - - - - - - - - - */

:root {
    --lama_orange:#ffa600;
    --police_font:#ffffff;
    --user_id_font:#d3d3d3;
    --main_divs_shadow:#b9b9b9bb;
    --bg_color:#000000;
}

html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--bg_color);
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/* - - - - - - - - - - - - - - - - - - - - Main - - - - - - - - - - - - - - - - - - - - */

#div_main {
    height: 200px;
    flex: 2;
    display: flex; 
}

.panel {
    border-radius: 20px;
    box-shadow: var(--main_divs_shadow) -3px -3px 20px;
    margin:5px;
}

/* - - - - - - - - - - - - - - - - - - - - Profile panel  - - - - - - - - - - - - - - - - - - - - */

#div_profile {
    width: 15%;
    text-align: center;
}

#user_pic {
    width: 50%;
    height: 50%;
    margin: auto;
    margin: 10px;
    border-radius: 10%;
}

#user_name {
    font-style: bold;
    font-size: 20px;
    margin-top: 5%;
    color: var(--police_font);
}

#user_id {
    font-style: italic;
    color: var(--user_id_font);
    font-size: 10px;
}

#profile_links {
    margin-top: 10%;
}

#profile_links>a {
    color: var(--police_font);
    text-decoration: none;
}

#profile_links>a>img {
    width: 22%;
    height: 22%;
    margin-bottom: 10%;
}

/* - - - - - - - - - - - - - - - - - - - - Feed panel  - - - - - - - - - - - - - - - - - - - - */

#div_feed{
    flex: 2;
    padding: 10px;
}

#postlist{
    height: 100%;
    overflow-y: scroll;
    padding: 5px;
    padding-right: 10px;
    border-radius: 10px;
}

.post_block {
    background-color: white;
    box-shadow: var(--main_divs_shadow) 1px 1px 5px;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: justify;
    color:black;
}

.post_block_user_info>img {
    width: 10%;
    height: 10%;
    border-radius: 100%;
    box-shadow: grey 1px 1px 10px;
    margin-right: 3%;
    float: left;
}

.post_block_user_info {
    display: inline-block;
}

.post_block_user_info>i {
    font-size: 60%;
    color: rgb(114, 114, 114);
    max-height: 100%;
}

.post_block_user_info>button{
    float: right;
}

.post_block_text{
    white-space: pre-line;
    width: 100%;
    word-wrap: anywhere;
    max-height: 10em;
    overflow-y: scroll;
    margin-top: 10px;
}
.indent{
    margin-left: 50px;
}

.comment_reply_button {
    margin-top: 2.5%;
    background-color: rgb(235, 235, 235);
	border-radius:40px;
    border:none;
	cursor:pointer;
	padding:6px 15px;
}

.comment_reply_button:hover {
    background-color: var(--lama_orange);
}

.comment_text {
    margin-top: 1%;
    text-align: right;
}

.comment_text>textarea{
    padding: 1%;
	box-sizing: border-box;
    border-radius:10px;
    border-color: var(--lama_orange);
    resize:none;
	width: 100%;
    resize: vertical;
    font-family: serif;
}

.comment_send_button {
	cursor:pointer;
    width: 3%;
    height: 3%;
    margin-right: 1%;
    margin-bottom: -1%;
    padding: 5px;
    border-radius: 7px;
}

.comment_send_button:hover {
    background-color: var(--lama_orange);
}

/* - - - - - - - - - - - - - - - - - - - - Friend panel  - - - - - - - - - - - - - - - - - - - - */

#div_friendlist {
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

#search_bar {
    margin: 10px;
    background-color: #ffffff;
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 2%;
}

#friendlist {
    flex:2;
    height: 100px;
    background-color: #ffffff;
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 2%;
    width: auto;
    text-align: left;
}

#friends {
    overflow-y: scroll;
    height: 100%;
}
.friend_block{
    padding-top: 5px;
    margin-left: 10px;
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
    gap: 5%;
}

#friendlist img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 100%;
    box-shadow: grey 1px 1px 10px;
}

#friendlist i {
    font-size: 12px;
}
#search_results{
    display: none;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 15px;
}

#search_results img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 100%;
    box-shadow: grey 1px 1px 10px;
}

#search_results i {
    font-size: 12px;
}

.button_add{
    margin-left: 25px;
    align-self: center;
}

/* - - - - - - - - - - - - - - - - - - - - Scrollbar  - - - - - - - - - - - - - - - - - - - - */

/*Firefox*/
*{
    scrollbar-width: auto;
    scrollbar-color: var(--lama_orange) transparent;
}

/* Width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background:transparent;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--lama_orange); 
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c47f00; 
    border-radius: 50px;
}
